@{
  Layout="Shared/_Layout.cshtml";
}


<h1>Results</h1>

@if (Int32.Parse(@Model["count"]) == 0)
{
  <h3>ERROR: <strong>@Model["word"]</strong> was not found in the sentence "@Model["sentence"]".</h3>
}
@if (Int32.Parse(@Model["count"]) == 1)
{
  <h3><strong>@Model["word"]</strong> showed up <strong>@Model["count"]</strong> time in the sentence "@Model["sentence"]".</h3>
}

@if (Int32.Parse(@Model["count"]) > 1)
{
  <h3><strong>@Model["word"]</strong> showed up <strong>@Model["count"]</strong> times in the sentence "@Model["sentence"]".</h3>
}

<p><a href="/new">Return to home page</a></p>
